#container{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin: auto;
    padding-left: 5%;
}

#codeContainer{
    padding-left: 10px;
}
